body {
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.theme-font-main {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: #296fa8;
}

.nav-link:hover {
  text-decoration: underline;
  color: #3490dc;
}