.yellow-bit {
    background-color: map-get($map: $lego-postit, $key: 'yellow');
}

.green-bit {
    background-color: map-get($map: $lego-postit, $key: 'green');
}

.blue-bit {
    background-color: map-get($map: $lego-postit, $key: 'blue');
}