code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  text-decoration: none;
  color: #296fa8;
}

.nav-link:hover {
  text-decoration: underline;
  color: #3490dc;
}