@import 'custom';

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(94, 231, 255);
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: 'Ubuntu Mono', monospace; */
}

.yellow-bit {
    background-color: rgb(252, 250, 170)
}

.green-bit {
    background-color: rgb(176, 255, 166)
}