.App-header {
  height: 10%;
  padding: 1.5%;
  color: rgb(0, 0, 0);
  text-align: center;
}

#title-name {
  color: rgb(0, 38, 255);
}

#title-title {
  color: rgb(241, 16, 0);
}

.App-title {
  font-size: 2.3em;
}



#article {
  padding: 3%;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

#menu-container {
  width: 100%;
  size: 1em;
  font-size: 1.2em;
  border: 0.2em solid;
}


.fit-to-container {
  max-width: 60%;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  #title-name {
    display: inline-block;
  }
  #title-seperator {
    display: none;
  }
  #title-title {
    display: inline-block;
  }

  .fit-to-container {
    max-width: 90%;
  }
}

@media only screen and (min-width: 700px) {
  .fit-to-container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    max-width: 80%;
    border-left: 0.2em solid;
    border-right: 0.2em solid;
  }
  #footer {
    max-height: 60px;
  }
  .fit-to-container {
    max-width: 60%;
  }
}

@media only screen and (min-width: 700px) {  
  #article {
    min-height: 67vh;
  }
}