.footer-text {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2em;
}

#footer {
    min-height: 50px;
    padding: 5%;
    text-align: center;
    border: 0.2em solid;
}

.footer-icon {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .footer-text {
        display: block;
    }
    #footer {
        text-align: left;
    }
  }