.footer {
  border-top: thin gray solid;
}

.footer > div {
  font-size: 2.7rem;
}

.footer-label {
  font-size: 1.12rem;
}

@media only screen and (max-width: 650px) {
  .footer > div {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
  .footer > div {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}